// Colors

$primary: #13007d;
$light-primary: scale-color($primary, $lightness: 40%);
$dark-primary: scale-color($primary, $lightness: -30%);

$secondary: #6161ff;
$light-secondary: scale-color($secondary, $lightness: 40%);
$dark-secondary: scale-color(scale-color($secondary, $lightness: -40%), $saturation: -50%);

$yellow: #f1e3ac;
$black: #000;
$white: #fff;

$gray: #9897a1;
$light-gray: scale-color($gray, $lightness: 70%);
$dark-gray: scale-color($gray, $lightness: -60%);

// Sizes

$header-height: 54px;
$footer-height: 52px;

$loading-icon-size: 32px;

// Breakpoints

$breakpoint-small: 480px;
$breakpoint-medium: 800px;
$screen-width-tablet-landscape: 1024px;

$small-up: 'width >= #{$breakpoint-small}';
$medium-up: 'width >= #{$breakpoint-medium}';
$tablet-landscape-up: 'width >= #{$screen-width-tablet-landscape}';
