@use 'sass:color';

/* Colors. */

$primary: #13007d;
$light-primary: color.scale($primary, $lightness: 40%);
$dark-primary: color.scale($primary, $lightness: -30%);

$secondary: #6161ff;
$light-secondary: color.scale($secondary, $lightness: 40%);
$dark-secondary: color.scale(color.scale($secondary, $lightness: -40%), $saturation: -50%);

$yellow: #f1e3ac;
$black: #000;
$white: #fff;

$gray: #9897a1;
$light-gray: color.scale($gray, $lightness: 70%);
$dark-gray: color.scale($gray, $lightness: -60%);

/* Sizes. */

$header-height: 54px;
$footer-height: 52px;

$loading-icon-size: 32px;

/* Breakpoints. */

$breakpoint-small: 480px;
$breakpoint-medium: 800px;
$screen-width-tablet-landscape: 1024px;
