#content {
	background-color: var(--yellow);
	background-image: url('/assets/img/cheetah.png');
	background-size: 50%;
	display: flex;
	flex: 1 1 auto;
}

#content-left {
	justify-content: flex-end;
}

#content-right {
	justify-content: flex-start;
}

#content-left,
#content-right {
	align-items: flex-end;
	display: flex;
	flex: 1 1 auto;
	min-width: 16px;
	width: calc(50vw - 300px);

	@media (--medium-up) {
		width: calc(50vw - 350px);
	}

	@media (--tablet-landscape-up) {
		width: calc(50vw - 400px);
	}
}

#content-middle {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	width: 300px;

	@media (--medium-up) {
		width: 350px;
	}

	@media (--tablet-landscape-up) {
		width: 400px;
	}
}

#browse,
#dress-me {
	display: none;

	@media (--medium-up) {
		display: block;
	}
}
