* {
	box-sizing: border-box;
}

body {
	background: var(--black);
	color: var(--white);
	font-family: chicago, consolas, monospace;
	user-select: none;
}

#main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#header,
#footer {
	background: var(--primary);
	border-color: var(--secondary) var(--secondary) var(--black);
	border-style: solid;
	border-width: 4px 0;
}
