@use 'utilities/variables';
@use 'utilities/fonts';
@use '~normalize.css/normalize';
@use 'layout/typography';
@use 'layout/main';
@use 'layout/header';
@use 'layout/content';
@use 'layout/footer';
@use 'components/animation';
@use 'components/button';
@use 'components/carousel';
@use 'components/carousel-controls';
@use 'components/error';
@use 'components/focus';
@use 'components/hangers';
@use 'components/mismatch';
@use 'components/noscript';
@use 'utilities/print';

#more,
#github,
button,
label,
select {
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		background-color: variables.$secondary;
		border-color: variables.$light-secondary variables.$dark-secondary variables.$dark-secondary variables.$light-secondary;
	}
}
