@import url('utilities/variables');
@import url('utilities/fonts');
@import url('~normalize.css/normalize');
@import url('layout/typography');
@import url('layout/main');
@import url('layout/header');
@import url('layout/content');
@import url('layout/footer');
@import url('components/animation');
@import url('components/button');
@import url('components/carousel');
@import url('components/carousel-controls');
@import url('components/error');
@import url('components/focus');
@import url('components/hangers');
@import url('components/mismatch');
@import url('components/noscript');
@import url('utilities/print');

#more,
#github,
button,
label,
select {
	cursor: pointer;

	&:hover,
	&:active,
	&:focus {
		background-color: var(--secondary);
		border-color: var(--light-secondary) var(--dark-secondary) var(--dark-secondary) var(--light-secondary);
	}
}
