@use '../utilities/variables';

#content {
	background-color: variables.$yellow;
	background-image: url('/assets/img/cheetah.png');
	background-size: 50%;
	display: flex;
	flex: 1 1 auto;
}

#content-left {
	justify-content: flex-end;
}

#content-right {
	justify-content: flex-start;
}

#content-left,
#content-right {
	align-items: flex-end;
	display: flex;
	flex: 1 1 auto;
	min-width: 16px;
	width: calc(50vw - 300px);

	@media (width >= variables.$breakpoint-medium) {
		width: calc(50vw - 350px);
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		width: calc(50vw - 400px);
	}
}

#content-middle {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	height: calc(100vh - #{variables.$header-height + variables.$footer-height});
	width: 300px;

	@media (width >= variables.$breakpoint-medium) {
		width: 350px;
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		width: 400px;
	}
}

#browse,
#dress-me {
	display: none;

	@media (width >= variables.$breakpoint-medium) {
		display: block;
	}
}
