#footer {
	align-items: center;
	display: flex;
}

#footer-fieldset {
	border: 0;
	flex: 1 1 auto;
	margin: 0;
	min-width: 0;
	overflow: auto hidden;
	padding: 0;
	width: calc(100% - 70px);
}

#footer-legend {
	display: none;
}

#footer-list {
	align-items: center;
	display: flex;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer__item {
	flex: 1 1 auto;
	position: relative;
}

.category__checkbox {
	appearance: none;
	background: transparent;
	border: 0;
	cursor: pointer;
	inset: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;

	&:focus {
		& + .category__label {
			background: $secondary;
			color: $white;
		}
	}
}

.category__label {
	align-items: center;
	background: transparent;
	border: 0;
	border-radius: 0;
	color: $white;
	display: flex;
	height: 44px;
	justify-content: center;
	padding: 2px 8px 0;
	position: relative;
	width: 100%;
	z-index: 1;

	:checked + & {
		color: $light-secondary;

		&:hover,
		&:active,
		&:focus {
			color: $white;
		}
	}
}

#more,
#github {
	padding: 7px 4px 4px;
	text-decoration: none;
}
