#footer {
	align-items: center;
	display: flex;
}

#footer-list {
	align-items: center;
	display: flex;
	flex: 1 1 auto;
	line-height: 1;
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	width: calc(100% - 70px);
}

.footer__item {
	flex: 1 1 auto;
}

.category__checkbox {
	display: none;
}

.category__label {
	align-items: center;
	background: transparent;
	border: 0;
	border-radius: 0;
	color: $white;
	display: flex;
	height: 44px;
	justify-content: center;
	padding: 2px 8px 0;
	width: 100%;

	:checked + & {
		color: $light-secondary;

		&:hover,
		&:active,
		&:focus {
			color: $white;
		}
	}
}

#more {
	color: $black;
	padding: 7px 4px 4px;
	text-decoration: none;
}
