* {
	box-sizing: border-box;
}

body {
	background: $black;
	color: $white;
	font-family: chicago, consolas, monospace;
	user-select: none;
}

#main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#header,
#footer {
	background: $primary;
	border-color: $secondary $secondary $black;
	border-style: solid;
	border-width: 4px 0;
}
