@use '../utilities/variables';

* {
	box-sizing: border-box;
}

body {
	background: variables.$black;
	color: variables.$white;
	font-family: chicago, consolas, monospace;
	user-select: none;
}

#main {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#header,
#footer {
	background: variables.$primary;
	border-color: variables.$secondary variables.$secondary variables.$black;
	border-style: solid;
	border-width: 4px 0;
}
