@use '../utilities/variables';

.button {
	appearance: none;
	background: variables.$gray;
	border-color: variables.$light-gray variables.$dark-gray variables.$dark-gray variables.$light-gray;
	border-radius: 0;
	border-style: solid;
	border-width: 4px;
	box-shadow: 0 0 0 4px variables.$black;
	color: variables.$black;
	cursor: pointer;
	display: inline-block;
	line-height: .8;
	margin: 4px;
	padding: 0;
}

.button--large {
	border-width: 8px;
	font-size: 28px;
	height: 85px;
	padding-top: 4px;
	width: 124px;

	@media (width >= variables.$screen-width-tablet-landscape) {
		font-size: 44px;
		height: 95px;
		width: 190px;
	}
}

.button--large,
.carousel-button {
	box-shadow: 0 0 0 8px variables.$black;
	margin: 8px;
}

select,
#more,
#github {
	background: variables.$primary;
	border-color: variables.$secondary variables.$dark-primary variables.$dark-primary variables.$secondary;
	border-radius: 4px;
	color: variables.$white;
}
