.carousel__container {
	background-color: $white;
	border-color: $gray $black $black $gray;
	border-style: solid;
	border-width: 8px;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	.flash & {
		background-color: $black;
	}

	&.hide {
		display: none;
	}
}

.carousel {
	display: flex;
	flex: 1 1 auto;
}

.carousel__list {
	display: flex;
	flex: 1 1 auto;
	list-style: none;
	margin: 0;
	overflow-x: auto;
	padding: 0;
	scroll-snap-type: x mandatory;

	&:focus {
		box-shadow: inset 0 0 0 8px $secondary;
	}
}

.carousel__item {
	color: $black;
	flex: 1 0 100%;
	font-size: 0;
	scroll-snap-align: start;
	width: 100%;

	.flash & {
		filter:
			drop-shadow(0 0 1px $white)
			drop-shadow(0 0 1px $white)
			drop-shadow(0 0 1px $white)
			drop-shadow(0 0 1px $white)
			drop-shadow(0 0 1px $white)
			drop-shadow(0 0 1px $white)
			drop-shadow(0 0 1px $white);
	}

	&.hide {
		display: none;
	}
}

.carousel__img {
	height: 70%;
	object-fit: contain;
	object-position: center;
	width: 100%;

	&[data-src] {
		position: relative;

		&::after {
			animation: spin 1s infinite linear;
			border-color: $light-gray $light-gray $light-gray transparent;
			border-radius: 100px;
			border-style: solid;
			border-width: 8px;
			content: '';
			height: $loading-icon-size;
			left: calc(50% - #{$loading-icon-size * .5});
			position: absolute;
			top: calc(50% - #{$loading-icon-size * .5});
			width: $loading-icon-size;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
