@use '../utilities/variables';

.carousel__container {
	background-color: variables.$white;
	border-color: variables.$gray variables.$black variables.$black variables.$gray;
	border-style: solid;
	border-width: 8px;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	.flash & {
		background-color: variables.$black;
	}

	&.hide {
		display: none;
	}
}

.carousel {
	display: flex;
	flex: 1 1 auto;
}

.carousel__list {
	display: flex;
	flex: 1 1 auto;
	list-style: none;
	margin: 0;
	overflow-x: auto;
	padding: 0;
	scroll-snap-type: x mandatory;

	&:focus {
		box-shadow: inset 0 0 0 8px variables.$secondary;
	}
}

.carousel__item {
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 70%;
	color: variables.$black;
	flex: 1 0 100%;
	font-size: 0;
	scroll-snap-align: start;
	width: 100%;

	.flash & {
		filter:
			drop-shadow(0 0 1px variables.$white)
			drop-shadow(0 0 1px variables.$white)
			drop-shadow(0 0 1px variables.$white)
			drop-shadow(0 0 1px variables.$white)
			drop-shadow(0 0 1px variables.$white)
			drop-shadow(0 0 1px variables.$white)
			drop-shadow(0 0 1px variables.$white);
	}

	&.hide {
		display: none;
	}

	&[data-src] {
		position: relative;

		&::after {
			animation: spin 1s infinite linear;
			border-color: variables.$light-gray variables.$light-gray variables.$light-gray transparent;
			border-radius: 100px;
			border-style: solid;
			border-width: 8px;
			content: '';
			height: variables.$loading-icon-size;
			left: calc(50% - #{variables.$loading-icon-size * .5});
			position: absolute;
			top: calc(50% - #{variables.$loading-icon-size * .5});
			width: variables.$loading-icon-size;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
