@use '../utilities/variables';

#error {
	align-items: center;
	color: variables.$white;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;
	z-index: 3;

	h1 {
		margin-bottom: 0;
	}
}
