@use '../utilities/variables';

#mismatch-container {
	align-items: center;
	display: flex;
	inset: 0;
	justify-content: center;
	position: absolute;

	&.hide {
		display: none;
	}
}

#mismatch {
	background-color: variables.$light-secondary;
	border: 8px solid variables.$black;
	box-shadow: 8px 8px 0 0 rgba(variables.$black, .5);
	color: variables.$black;
	font-size: 50px;
	line-height: 40px;
	padding: 10px 0 0;
	text-align: center;
	white-space: nowrap;

	@media (width >= variables.$breakpoint-small) {
		font-size: 80px;
		line-height: 70px;
	}

	@media (width >= variables.$breakpoint-medium) {
		font-size: 110px;
		line-height: 100px;
	}

	@media (width >= variables.$screen-width-tablet-landscape) {
		font-size: 140px;
		line-height: 130px;
	}
}
