@font-face {
	font-display: swap;
	font-family: Chicago;
	font-style: normal;
	font-weight: 400;
	src: url('/assets/fonts/chicago-webfont.woff2') format('woff2'), url('/assets/fonts/chicago-webfont.woff') format('woff');
}
